
<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="charactersList"
    [searchKeyword]="keyword"
    placeholder="Enter Character Name"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    historyIdentifier="countries"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    [debounceTime]="debounceTime">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <div class="list-item">
      <img class="item-thumbnail" src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" />
      <span [innerHTML]="item.name"></span>
    </div>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>